<!DOCTYPE html>

<html>

<head>
    <title>Weather</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/styles/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}

        <p>Use this site to get your weather!</p>

        <form>
            <input type="text" placeholder="Input your location" id="locationInput">
            <button id="Sbutton">Search</button>
        </form>
        <p class="weather-report"></p>
        <p class="error"></p>
    </div>

    {{>footer}}
    <script src="/script/app.js"></script>
</body>

</html>